In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('movie.csv')

In [4]:
df.shape

(6010, 7)

In [5]:
df.head(1)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
 cv = CountVectorizer()

In [8]:
 countMatrix = cv.fit_transform(df['comb'])
 similarity = cosine_similarity(countMatrix)

In [9]:
df.head(1)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...

In [10]:
similarity

array([[1.        , 0.24174689, 0.16116459, ..., 0.        , 0.        ,
        0.        ],
       [0.24174689, 1.        , 0.18181818, ..., 0.        , 0.        ,
        0.        ],
       [0.16116459, 0.18181818, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.10540926,
        0.1       ],
       [0.        , 0.        , 0.        , ..., 0.10540926, 1.        ,
        0.10540926],
       [0.        , 0.        , 0.        , ..., 0.1       , 0.10540926,
        1.        ]])

In [11]:
df['comb'][0]

'CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure Fantasy Sci-Fi'

In [12]:
new_df =  df.drop(columns=['director_name','actor_1_name','actor_2_name','actor_3_name','genres'])

In [14]:
from joblib import dump, load

In [13]:
new_df

,movie_title,comb
0,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...
6005,top gun: maverick,Tom Cruise Miles Teller Jennifer Connelly Jose...
6006,the croods 2,Nicolas Cage Emma Stone Ryan Reynolds Joel Cra...
6007,respect,Jennifer Hudson Forest Whitaker Marlon Wayans ...
6008,the last duel,Matt Damon Adam Driver Jodie Comer Ridley Scot...
6009,news of the world,Tom Hanks Helena Zengel Neil Sandilands Paul G...

In [15]:
dump(new_df.to_dict(),open('movies_dict.joblib','wb'),compress=3)

In [19]:

dump(similarity, open('similarity.joblib', 'wb'),compress=3)

In [46]:
movies_dict = load(open('movies_dict.joblib', 'rb'))
similarity = load(open('similarity.joblib', 'rb'))
movies = pd.DataFrame(movies_dict)

In [81]:
movies.head(2)

,movie_title,comb
0,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...

In [76]:
def Recommend2(movie:str):
    movie = movie.lower()

    if movie not in movies['movie_title'].unique():
        return 'Sorry! The movie you requested is not present in our database'
    else:    
        movie_idx = movies[movies['movie_title'] == movie].index[0]
        distances = similarity[movie_idx]
        movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x: x[1])[1:30]

        recommended_movies = []
        recommended_movies_posters = []
        for i in movies_list:
        # movie_id = movies.iloc[i[0]].index[0]
           recommended_movies.append(movies.iloc[i[0]].movie_title)
        # recommended_movies_posters.append(fetch_poster(movie_id))

        return recommended_movies

In [82]:
Recommend2('Avatar3')

'Sorry! The movie you requested is not present in our database'